.Addbutton{
    -fx-background-image: url(../..//Images/Add.png);    
}

.SubButton{
    -fx-background-image: url(../..//Images/Subtract.png);  
}

.background {
    -fx-background-color: white;
}
