.Addbutton{
    -fx-background-image: url("Add.png");    
}

.SubButton{
    -fx-background-image: url("Subtract.png");  
}

.BuyButton{
    -fx-background-color: royalblue;
    -fx-text-fill: white;
}

.Kassa{
    -fx-background-color: limegreen;
    -fx-text-fill: white
}

.CancelButton{
    -fx-background-image: url("Cancel.png");
}

.background {
    //-fx-background-color: white;
    -fx-border-color: lightgray;
}

.backgroundColor{
    -fx-background-color: white;
}

.LogoButton{
    -fx-border-color: transparent;
}


/** Hover styles **/
.BuyButton:hover{
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
}

.Addbutton:hover{
    -fx-background-image: url("Add_Hover.png");  
}

.SubButton:hover{
    -fx-background-image: url("Subtract_Hover.png");  
}

.CancelButton:hover{
    -fx-background-image: url("Cancel_Hover.png");
}


.Kassa:hover{
    -fx-background-color: lime;
    -fx-text-fill: white
}

.check-box>.box {
  -fx-border-color: black;
  -fx-background-radius: 0, 0;
  -fx-background-insets: 0, 0;
  -fx-padding: 5;
  -fx-shape: "M 50,5 L 37,40 5,40 30,60 20,95 50,75 80,95 70,60 95,40 63,40 Z";
}

.check-box>.box>.mark {
  -fx-shape: "M 50,5 L 37,40 5,40 30,60 20,95 50,75 80,95 70,60 95,40 63,40 Z";
}

.check-box:selected>.box>.mark{
    -fx-background-color: derive(goldenrod,-50%), yellow;
}